.page {
  min-block-size: 100dvb;
  width: var(--page-inline-size);
  font-family: var(--font-family-main), fantasy;
  font-variation-settings: "wght" 400;
  background-image: var(--background-image);
  margin: 0 auto;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  margin: 100px 0 100px 0;
  font-family: var(--font-family-accent), fantasy;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #000000;
}

.header__logo {
  padding-block: var(--header-padding-block);
  background-color: #fff;
}

.header__logo-size {
  font-size: var(--font-size-title);
}

.header__logo-size-s {
  display: inline-block;
  font-size: var(--font-size-title-s);
  text-transform: uppercase;
  padding-top: 20px;
}

.content {
  margin-block-start: 100px;
}

.content__card {
  margin-block-end: 50px;
  border: var(--primary-border);
  background-color: #fff;
  line-height: 21px;
  inline-size: var(--content-inline-size);
}


.span-position {
  position: relative;
  margin: 0;
}

.label {
  position: absolute;
  z-index: 1;
  right: 23px;
  top: 23px;
  font-family: var(--font-family-accent), fantasy;
  font-weight: 400;
  font-size: var(--font-size-decoration);
  mix-blend-mode: hard-light;
  text-transform: uppercase;
  opacity: 50%;
  text-shadow: 1px 1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    -1px -1px 0 #fff;
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .label {
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
    text-shadow: none;
  }
}

.content__title {
  padding-inline: 10px;
  padding-block: 6px;
  font-family: var(--font-family-main), sans-serif;
  font-variation-settings: "wght" 700;
  font-size: var(--font-size-main);
  display: flex;
  align-items: center;
  word-wrap: break-word;
}

.content__container {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding-top: 25px;
}

.content__card-img {
  display: block;
  width: 100%;
  align-self: center;
  border-block-start: var(--primary-border);
  border-block-end: var(--primary-border);
  object-fit: cover;
    object-position: center;
    aspect-ratio: 1/1;
}

.filter__saturate {
  filter: contrast(1) saturate(2) sepia(0.3) grayscale(0.1);
  box-shadow: 0 0 25px 5px rgb(255, 0, 47);
}

.filter__brightness {
  filter: brightness(30%);
  box-shadow: 0 0 25px 5px rgb(0, 0, 0);
}

.filter__lighten {
  filter: brightness(1.2) contrast(1.2);
  box-shadow: 0 0 25px 5px rgb(0, 198, 252);
}

.filter__contrast {
  filter: brightness(0.9) contrast(1) saturate(1) hue-rotate(20deg);
  box-shadow: 0 0 25px 5px rgb(197, 0, 252);
}

.filter__opacity {
  filter: brightness(1) contrast(1) saturate(1.3) hue-rotate(10deg);
  box-shadow: 0 0 25px 5px rgb(168, 252, 167);
}

.filter__light {
  filter: brightness(1.1) contrast(1.5) saturate(1.2) grayscale(0.2)
    sharpen(1px);
  box-shadow: 0 0 25px 5px rgb(107, 104, 104);
}

.filter__shadow {
  filter: brightness(90%) contrast(1.2) saturate(1.3) sepia(0.2)
    hue-rotate(10deg);
  box-shadow: 0 0 25px 5px rgb(250, 128, 244);
}

.filter__default {
  filter: saturate(1.3) grayscale(0.2) sepia(0.1);
  box-shadow: 0 0 25px 5px rgb(238, 197, 197);
}

.content__subtitle {
  font-size: var(--font-size-main);
  inline-size: var(--content-subtitle-inline-size);
  align-self: center;
}

.content__button__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: clamp(0.5625rem, 0.6285rem + -0.2817vw, 0.375rem);
  padding-block: 25px;
}

.card__like-button {
  width: 130px;
  background-color: transparent;
  border: var(--primary-border);
  transition: box-shadow 0.3s ease, background-color 0.5s ease-in-out;
  margin-inline-end: 23px;
  cursor: pointer;
}

/*общин стили для кнопок*/
.button-decorated {
  position: relative;
}

.button-decorated:focus {
  outline: none;
}

.button-decorated:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color); /*проверить цвет*/
}

.card__icon-button:focus-visible .core {
  fill: #000;
  transition: fill 0.3s linear;
}

.card__icon-button:focus-visible .main-body {
  fill: #000;
  transition: fill 0.5s linear;
}

.button-decorated::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: scaleX(0); /*сжимает элемент*/
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button-decorated:hover::after {
  transform: scaleX(1); /*разжимает при наведении+ применяется афтер*/
}

.button-decorated:{
  background-color: var(--accent-color);
}

.button__text {
  mix-blend-mode: difference;
  color: var(--accent-blend-color);
  font-family: var(--font-family-accent), fantasy;
  font-weight: 400;
  font-size: var(--font-size-decoration);
  position: relative;
  z-index: 1;
}

.content__save {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-end: 103px;
}

.content__save__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 335px;
  height: 55px;
  font-family: var(--font-family-accent), fantasy;
  font-weight: 400;
  font-size: var(--font-size-decoration);
  background-color: #fff;
  border: var(--primary-border);
  transition: background-color 0.5s ease-in-out;
}
/**/
dialog {
  padding: 30px clamp(30px, -0.94vw + 43.52px, 40px);
  max-inline-size: clamp(341px, 335.4px + 1.5vw, 357px);
}

dialog[open] {
  background-color: #fff;
}

.dialog__container {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 20px;
}

.dialog__title {
  text-transform: uppercase;
  font-family: var(--font-family-accent), fantasy;
  line-height: 150%;
  width: 234px;
  text-align: start;
}

dialog::backdrop {
  backdrop-filter: brightness(25%);
}

.dialog__button__form {
  display: flex;
  justify-content: center;
  inline-size: 100%;
  margin-top: 30px;
  height: 38px;
  background-color: #fff;
  transition: background-color 0.5s ease-in-out;
  text-transform: uppercase;
  border: 2px solid #000000;
}

.content__save__button-dialog {
 background-color: transparent;
 border: 0;
 text-transform: uppercase;
}

.floppy__dialog {
  width: 39px;
  height: 39px;
  align-self: center;
  flex-shrink: 0;
}

.floppy {
  position: relative;
  z-index: 1;
  fill: var(--accent-blend-color);
  mix-blend-mode: difference;
  width: 21px;
  height: 21px;
}

/*heart*/

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 39px;
  height: 36px;
  background-color: transparent;
  padding: 0;
  border: 2px solid transparent;
}

.core {
  fill: #fff;
  transition: fill 0.3s linear;
}

.main-body {
  fill: #fff;
  transition: fill 0.3s linear;
}

.sparks {
  opacity: 0;
}

.contour {
  transition: fill 0.1s;
}

@media (max-width: 376px) {
  .content__save__button {
    display: grid;
    justify-items: center;
    align-items: start;
    align-content: center;
    max-width: 306px;
    min-height: 84px;
  }

  .floppy {
    width: 28px;
    height: 28px;
  }

  .label {
    right: 10px;
    top: 20px;
  }

}